// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
body {
    padding-top: 1.5rem;
}

.header {
    margin-bottom: 2rem;
}

.container {
    max-width: 46rem;
}

@import "pages";
@import "signin_and_signup";